<ion-header>
  <ion-toolbar class="text">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      個人檔案
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card >
      <ion-card-content class="back" text-center color="dark" >
        <div height="100px" weight="100px">
          <img class="ViewPH" [src]="array[0].userImg">
        </div>
            <div>
              <b>{{array[0].Name}}</b>
              <br>
              <b>{{array[0].gender}}</b>
            </div>
      </ion-card-content>
      <ion-card-content class="trip">
        <div  center padding="18px">
            <div>
                <p>信箱:{{array[0].email}}</p>
              </div>
              <div>
                <p> 手機:{{array[0].phone}}</p>
              </div>
              <div>
                <p>住址:{{array[0].address}}</p>
              </div>
              <div>
                <p>生日:{{array[0].date}}</p>
              </div>
              <div>
                <p>評分狀態:{{arrayP[0].scoreP}}</p>
              </div>
              <div>
                <p>信譽積分:{{array[0].score}}</p>
              </div>
      </div>
    </ion-card-content>
    </ion-card>
    <div>
      <ion-item class="edit" (click)="joinpackage(array[0].Name)">
        <ion-grid >
          <ion-row>
            <ion-col size="9" text-left>
              個人開團紀錄
            </ion-col>
            <ion-col size="2" text-right>

            </ion-col>
            <ion-col size="1" text-right>
              <div *ngIf="icon;else noicon">
                <ion-icon name="arrow-dropright"></ion-icon>
              </div>
              <ng-template #noicon>
                <div>
                  <ion-icon name="arrow-dropdown"></ion-icon>
                </div>
              </ng-template>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <div *ngIf="pac;else nopac" class="borderList">
        <ion-grid >
          <ion-row>
            <ion-col size="6">
              <ion-grid>
                <ion-row *ngFor="let joinpacka of joinpack;let even = even" (click)="getj(joinpacka.packageId)">
                  <ion-col class="colpad">
                    <div *ngIf="even">
                      {{joinpacka?.title}}
                      <ion-slides>
                        <ion-slide *ngFor="let photos of joinpacka.detailsArray">
                          <ion-img [src]=photos.photo class="imagestyle"></ion-img>
                        </ion-slide>
                      </ion-slides>
                      <div class="border"></div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col size="6">
              <ion-grid>
                <ion-row *ngFor="let joinpacka of joinpack;let odd = odd" (click)="getj(joinpacka.packageId)">
                  <ion-col class="colpad">
                    <div *ngIf="odd">
                      {{joinpacka?.title}}
                      <ion-slides>
                        <ion-slide *ngFor="let photos of joinpacka.detailsArray">
                          <ion-img [src]=photos.photo class="imagestyle"></ion-img>
                        </ion-slide>
                      </ion-slides>
                      <div class="border"></div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ng-template #nopac>
        </ng-template>
      </div>
    </div>
</ion-content>