<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        sign up
      </ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content padding >
    <form [formGroup]="tourForm" (ngSubmit)="tourUp()">
      <ion-list class="font">
          <p>夥伴，請問你是否想開啟響導功能呢?</p>
          <p>何謂響導?</p>
          <p class="size">除了有會員的功能之外<br>還能上傳自己的行程來提供給其他會員選擇</p>
          <div formGroupName="tourGroup">
          <ion-item>
            <ion-label text-center>開關來開啟響導功能!</ion-label>
            <ion-toggle  disabled="false" formControlName="touron"></ion-toggle>
          </ion-item>
        </div>
        </ion-list>
        <div padding text-center class="b">
          <ion-button type="submit" color="primary" [disabled]="!tourForm.valid" block >下一步</ion-button> 
        </div> 
    </form>
  </ion-content>

  
 
  
  