<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      上傳行程
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="packageForm" (ngSubmit)="packageUp()" >
      <ion-item>
        <ion-label position="stacked">
          <ion-icon name="create"></ion-icon>行程名稱
        </ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <!-- <ion-item *ngIf="formErrors.title">
          <ion-text color="danger">
            <p>{{ formErrors.title }}</p>
          </ion-text>
        </ion-item>
   -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">
                <ion-icon name="pin"></ion-icon>地區
              </ion-label>
              <ion-select okText="確定" cancelText="取消" formControlName="place" placeholder="select one">
                <ion-select-option>基隆市</ion-select-option>
                <ion-select-option>臺北市</ion-select-option>
                <ion-select-option>新北市</ion-select-option>
                <ion-select-option>桃園市</ion-select-option>
                <ion-select-option>新竹市</ion-select-option>
                <ion-select-option>新竹縣</ion-select-option>
                <ion-select-option>苗栗縣</ion-select-option>
                <ion-select-option>臺中市</ion-select-option>
                <ion-select-option>彰化縣</ion-select-option>
                <ion-select-option>南投縣</ion-select-option>
                <ion-select-option>雲林縣</ion-select-option>
                <ion-select-option>嘉義市</ion-select-option>
                <ion-select-option>嘉義縣</ion-select-option>
                <ion-select-option>臺南市</ion-select-option>
                <ion-select-option>高雄市</ion-select-option>
                <ion-select-option>屏東縣</ion-select-option>
                <ion-select-option>臺東縣</ion-select-option>
                <ion-select-option>花蓮縣</ion-select-option>
                <ion-select-option>宜蘭縣</ion-select-option>
                <ion-select-option>澎湖縣</ion-select-option>
                <ion-select-option>金門縣</ion-select-option>
                <ion-select-option>連江縣</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-label position="stacked">
                <ion-icon name="calendar"></ion-icon>月份
              </ion-label>
              <ion-select name="monthid" okText="確定" cancelText="取消" formControlName="month">
                <ion-select-option value="1">一月</ion-select-option>
                <ion-select-option value="2">二月</ion-select-option>
                <ion-select-option value="3">三月</ion-select-option>
                <ion-select-option value="4">四月</ion-select-option>
                <ion-select-option value="5">五月</ion-select-option>
                <ion-select-option value="6">六月</ion-select-option>
                <ion-select-option value="7">七月</ion-select-option>
                <ion-select-option value="8">八月</ion-select-option>
                <ion-select-option value="9">九月</ion-select-option>
                <ion-select-option value="10">十月</ion-select-option>
                <ion-select-option value="11">十一月</ion-select-option>
                <ion-select-option value="12">十二月</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      
        <ion-row>
            <ion-col>
      <ion-item>
        <ion-label position="stacked">
          <ion-icon name="paper"></ion-icon>天數
        </ion-label>
        <ion-select name="dateid" okText="確定" cancelText="取消" formControlName="days">
          <ion-select-option value="1">1日</ion-select-option>
          <ion-select-option value="2">2日</ion-select-option>
          <ion-select-option value="3">3日</ion-select-option>
          <ion-select-option value="4">4日</ion-select-option>
          <ion-select-option value="5">5日</ion-select-option>
          <ion-select-option value="6">5日以上</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
      <ion-col>
      <ion-item>
        <ion-label position="stacked">
          <ion-icon name="pricetag"></ion-icon>價格
        </ion-label>
        <ion-input type="number" placeholder="NT$" min=0 formControlName="price"></ion-input>
      </ion-item>
    </ion-col>
    </ion-row>
    </ion-grid>
      <!-- <app-packages></app-packages> -->

      <ion-button color="dark" type="button" (click)="addDetailsButtonClick()">
        添加內容<ion-icon name="add"></ion-icon>
      </ion-button>

      <ion-slides formArrayName="detailsGroup" pager="true">
          <ion-slide [formGroupName]="i"  *ngFor="let detail of packageForm.get('detailsGroup').controls; let i = index">             
                  <ion-card >
                    <ion-item>
                      <ion-icon name="bookmarks" slot="start" color="dark"></ion-icon>
                      <ion-label>行程{{i+1}}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-input type="file" accept="image/*" formControlName="image" (change)="chooseFiles(i,$event)">
                      </ion-input>
                    </ion-item>
                    <ion-card-content>
                      <ion-item>
                        <ion-textarea placeholder="行程規劃(請輸入20-1000字)" formControlName="context"></ion-textarea>
                      </ion-item>
                      <ion-button *ngIf="packageForm.get('detailsGroup').length>1" (click)="removeDetailsButtonClick(i)"
                        type="button" color="danger" shape="round" expand="full">
                        <ion-icon name="close"></ion-icon>
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
          </ion-slide>
        </ion-slides>
   
    
      <div padding text-center>
        <ion-button type="submit" color="dark" block shape="round" expand="full" [disabled]="!packageForm.valid">完成</ion-button>
      </div>

      <!--
        <div *ngIf="selectedItem" padding>
          You navigated here from <b>{{selectedItem.title }}</b>
        </div>
      -->
      
    </form>
  </ion-list>
</ion-content>



<!--   <div formArrayName="detailsGroup" *ngFor="let detail of packageForm.get('detailsGroup').controls; let i = index">
        <div [formGroupName]="i">
          <ion-card>
            <ion-item>
              <ion-icon name="bookmarks" slot="start" color="dark"></ion-icon>
              <ion-label>行程</ion-label>
            </ion-item>
            <ion-item>
              <ion-input type="file" accept="image/*" formControlName="image" (change)="chooseFiles($event)">
              </ion-input>
            </ion-item>
            <ion-card-content>
              <ion-item>
                <ion-textarea placeholder="行程規劃(請輸入20-1000字)" formControlName="context"></ion-textarea>
              </ion-item>
              <ion-button *ngIf="packageForm.get('detailsGroup').length>1" (click)="removeDetailsButtonClick(i)"
                type="button" color="danger" shape="round" expand="full">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </div>-->