<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      上傳行程
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
    <ion-item>
      <ion-label  position="stacked"><ion-icon name="create"></ion-icon>行程名稱</ion-label>
      <ion-input></ion-input>
    </ion-item>

<ion-item>

  <ion-label><ion-icon name="pin"></ion-icon>行程地區</ion-label>
  <ion-select value="基隆市" okText="確定" cancelText="取消">
    <ion-select-option value="01">基隆市</ion-select-option>
            <ion-select-option value="02">臺北市</ion-select-option>
            <ion-select-option value="03">新北市</ion-select-option>
            <ion-select-option value="04">桃園市</ion-select-option>
            <ion-select-option value="05">新竹市</ion-select-option>
            <ion-select-option value="06">新竹縣</ion-select-option>
            <ion-select-option value="07">苗栗縣</ion-select-option>
            <ion-select-option value="08">臺中市</ion-select-option>
            <ion-select-option value="09">彰化縣</ion-select-option>
            <ion-select-option value="10">南投縣</ion-select-option>
            <ion-select-option value="11">雲林縣</ion-select-option>
            <ion-select-option value="12">嘉義市</ion-select-option>
            <ion-select-option value="13">嘉義縣</ion-select-option>
            <ion-select-option value="14">臺南市</ion-select-option>
            <ion-select-option value="15">高雄市</ion-select-option>
            <ion-select-option value="16">屏東縣</ion-select-option>
            <ion-select-option value="17">臺東縣</ion-select-option>
            <ion-select-option value="18">花蓮縣</ion-select-option>
            <ion-select-option value="19">宜蘭縣</ion-select-option>
            <ion-select-option value="20">澎湖縣</ion-select-option>
            <ion-select-option value="21">金門縣</ion-select-option>
            <ion-select-option value="22">連江縣</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>

  <ion-label><ion-icon name="calendar"></ion-icon>適合月份</ion-label>
  <ion-select value="一月" okText="確定" cancelText="取消">
    <ion-select-option value="01">一月</ion-select-option>
            <ion-select-option value="02">二月</ion-select-option>
            <ion-select-option value="03">三月</ion-select-option>
            <ion-select-option value="04">四月</ion-select-option>
            <ion-select-option value="05">五月</ion-select-option>
            <ion-select-option value="06">六月</ion-select-option>
            <ion-select-option value="07">七月</ion-select-option>
            <ion-select-option value="08">八月</ion-select-option>
            <ion-select-option value="09">九月</ion-select-option>
            <ion-select-option value="10">十月</ion-select-option>
            <ion-select-option value="11">十一月</ion-select-option>
            <ion-select-option value="12">十二月</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>

  <ion-label><ion-icon name="paper"></ion-icon>適用天數</ion-label>
  <ion-select value="1" okText="確定" cancelText="取消">
    <ion-select-option value="01">1日</ion-select-option>
            <ion-select-option value="02">2日</ion-select-option>
            <ion-select-option value="03">3日</ion-select-option>
            <ion-select-option value="04">4日</ion-select-option>
            <ion-select-option value="05">5日</ion-select-option>
            <ion-select-option value="06">5日以上</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label position="stacked">價格</ion-label>
  <ion-input type= "number" placeholder="NT$"></ion-input>
</ion-item>
<ion-card>
  <ion-item>
    <ion-icon name="bookmarks" slot="start"></ion-icon>
    <ion-label>行程</ion-label>
  </ion-item>
  <ion-item>
    <ion-input type="file" accept="image/*" ></ion-input>
  </ion-item>
<ion-card-content>
<ion-item>
  <ion-textarea placeholder="行程規劃"></ion-textarea>
</ion-item>
  </ion-card-content>
</ion-card>
<div padding text-center >
 <ion-button  routerLink="/home" color="dark" block shape="round"  expand="full">完成</ion-button>
</div>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  --> 
</ion-list>
</ion-content>
