<ion-header>
  <ion-toolbar>
    <ion-title>訂單管理</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <div></div>
    <div>
      <ion-card-content >
        <ion-card-title text-center>
          <ion-label>申請中</ion-label>
        </ion-card-title>
        <ion-card-content text-center>
          {{startDate}}
          <div></div>
          {{endDate}}
          <div></div>
          {{place}}
          <div></div>
          <!-- {{packageId}} -->
        </ion-card-content> 
      </ion-card-content>
    </div> 
    <div>
      <ion-card-content >
        <ion-card-title text-center>
          <ion-label>待確認</ion-label>
        </ion-card-title>
        <ion-card-content text-center>
          {{startDate}}
          <div></div>
          {{endDate}}
          <div></div>
          {{place}}
          <div></div>
          <!-- {{packageId}} -->
        </ion-card-content> 
      </ion-card-content>
    </div> 
    <!-- <ion-button size="small" class="button" shape="round" color="primary" fill="outline">加入
    </ion-button> -->
  </ion-card>
</ion-content>
