<ion-header>
  <ion-toolbar class="text">
    <ion-title text-center>
      <b>登入</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!--<form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-list class="log-in1">
      <div class="image" text-center>
        <img src="..\..\assets\img\login.png">
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon name="person" color="dark"></ion-icon>&nbsp;
              <ion-input type="email" placeholder="請輸入帳號" formControlName="email" class="form-control"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon name="lock" color="dark"></ion-icon>&nbsp;
              <ion-input input type="password" placeholder="請輸入密碼" formControlName="password" class="form-control">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <div padding text-center>
          <ion-button type="submit" class="btncolor" [disabled]="!loginForm.valid" block shape="round" expand="full">登入
          </ion-button>
          <ion-button routerLink="/signup" fill="clear">
            <ion-icon name="person-add" color="dark">
            </ion-icon>
          </ion-button>
          <ion-button routerLink="/getpasswd" fill="clear" color="dark">忘記密碼?</ion-button>
        </div>
      </ion-grid>
    </ion-list>
  </form>-->
  <form [formGroup]="loginForm" (ngSubmit)="login()">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="6" size-md="4" size-sm="6" size="12">
        <div class="image" text-center>
          <img src="..\..\assets\img\login.png">
        </div>
      </ion-col>
      <ion-col size-lg="6" size-md="8" size-sm="6" size="12">
        <div text-center>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-icon name="person" color="dark"></ion-icon>&nbsp;
                  <ion-input type="email" placeholder="請輸入帳號" formControlName="email" class="form-control"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-icon name="lock" color="dark"></ion-icon>&nbsp;
                  <ion-input input type="password" placeholder="請輸入密碼" formControlName="password" class="form-control">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <div padding text-center>
              <ion-button type="submit" class="btncolor" [disabled]="!loginForm.valid" block shape="round"
                expand="full">登入
              </ion-button>
              <ion-button routerLink="/signup" fill="clear">
                <ion-icon name="person-add" color="dark">
                </ion-icon>
              </ion-button>
              <ion-button routerLink="/getpasswd" fill="clear" color="dark">忘記密碼?</ion-button>
            </div>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>

</ion-content>