.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.a { font-size: 16px
  
}
 
.a ion-icon{
  font-size: 20px
}

.b ion-button{
  font-size: 16px;
  width: 80%;
  
}

.log-in1 ion-item ion-icon{
  font-size: 32px;
}

.c h1{
  font-size: 16px
}