<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content >
    &nbsp;
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-list class="log-in1">
        <ion-item>
          <ion-icon name="person" color="primary"></ion-icon>&nbsp;
          <ion-input type="email" placeholder="請輸入帳號"  formControlName="email" class="form-control"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock" color="primary"></ion-icon>&nbsp;
            <ion-input input type="password" placeholder="請輸入密碼" formControlName="password" class="form-control"></ion-input>
        </ion-item>
      </ion-list>   
      <div padding text-center class="b">
        <ion-button type="submit" color="primary" [disabled]="!loginForm.valid" block >登入</ion-button> 
          <br>
        <a class="a" routerLink="/signup" >
          <ion-icon name="person-add" >
          </ion-icon> 
        </a> 
      </div>
    </form>
</ion-content>

