<ion-header>
  <ion-toolbar class="text">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>個人開團明細</ion-title>
        </ion-col>
        <ion-col text-right>
          <ion-button size="small" color="danger" shape="round" fill="outline"
            (click)="Deletepackage(ownpackage.packageId,ownpackage.title,ownpackage.context)">刪除</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div center padding="10px" font-size="12px">
    <form [formGroup]="packageForm" (ngSubmit)="updataPackage(ownpackage.packageId)">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">
              <ion-icon name="create"></ion-icon>名稱
            </ion-label>
              <ion-input type="text" [(ngModel)]="ownpackage.title" formControlName="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">
                <ion-icon name="walk"></ion-icon>開始日期
              </ion-label>
              <ion-datetime display-format="DD/MM/YYYY" picker-format="DD M YYYY" placeholder="Select Date"
                [(ngModel)]="ownpackage.startDate" formControlName="startDate"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">
                <ion-icon name="man"></ion-icon>返回日期
              </ion-label>
              <ion-datetime display-format="DD/MM/YYYY" picker-format="DD M YYYY" placeholder="Select Date"
                [(ngModel)]="ownpackage.endDate" formControlName="endDate"></ion-datetime>

            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">
                地區
              </ion-label>
              <ion-select okText="確定" cancelText="取消" formControlName="place" placeholder="select one"
                [(ngModel)]="ownpackage.place" formControlName="place">
                <ion-select-option>基隆市</ion-select-option>
                <ion-select-option>臺北市</ion-select-option>
                <ion-select-option>新北市</ion-select-option>
                <ion-select-option>桃園市</ion-select-option>
                <ion-select-option>新竹市</ion-select-option>
                <ion-select-option>新竹縣</ion-select-option>
                <ion-select-option>苗栗縣</ion-select-option>
                <ion-select-option>臺中市</ion-select-option>
                <ion-select-option>彰化縣</ion-select-option>
                <ion-select-option>南投縣</ion-select-option>
                <ion-select-option>雲林縣</ion-select-option>
                <ion-select-option>嘉義市</ion-select-option>
                <ion-select-option>嘉義縣</ion-select-option>
                <ion-select-option>臺南市</ion-select-option>
                <ion-select-option>高雄市</ion-select-option>
                <ion-select-option>屏東縣</ion-select-option>
                <ion-select-option>臺東縣</ion-select-option>
                <ion-select-option>花蓮縣</ion-select-option>
                <ion-select-option>宜蘭縣</ion-select-option>
                <ion-select-option>澎湖縣</ion-select-option>
                <ion-select-option>金門縣</ion-select-option>
                <ion-select-option>連江縣</ion-select-option>
              </ion-select>
              <ion-input type="text" [(ngModel)]="ownpackage.other" formControlName="note" placeholder="地區備註">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-card>
        <ion-item>
          <ion-textarea auto-grow="true" placeholder="行程規劃(請輸入20-1000字)" [(ngModel)]="ownpackage.context"
            formControlName="context" style="height: 180px"></ion-textarea>
        </ion-item>
      </ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size-lg="6" size-md="4" size-sm="6" size="12" formArrayName="detailsGroup">
            <ion-slides pager="true" [formGroupName]="i"
              *ngFor="let detail of packageForm.get('detailsGroup').controls; let i = index">
              <ion-slide *ngFor="let photos of ownpackage?.detailsArray; let s = index">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-img [src]=photos?.photo (click)="zoomImage(photos.photo)" class="imagestyle"></ion-img>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-input id="file" type="file" accept="image/*" (change)="chooseFiles(i,s,$event)"
                        formControlName="photo"></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">
                <ion-icon name="people"></ion-icon>人數
              </ion-label>
              <ion-label>
                {{ownpackage.person}}
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">
                <ion-icon name="pricetag"></ion-icon>預算/人
              </ion-label>
              <ion-label>
                {{ownpackage.money}}
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div padding text-center>
        <ion-button type="submit" color="dark" id="touron" block shape="round" expand="full">
          儲存
        </ion-button>
      </div>
    </form>

  </div>

</ion-content>