.bgcolor{
    background-color: rgba(255, 235, 169, 0.753);
}
.welcome-card{
    background-color: lightyellow;
}


.packagetitle{
    background-color: ghostwhite;
}

.borderList{
  border-width:2px;
  border-style:solid;
  border-left-color: black;
  border-right-color: black;
  border-bottom-color: black;
  background-color: lightyellow;
}