<ion-header>
  <ion-toolbar>
    <ion-title>tab1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="3px">

  <ion-item (click)="changewait(1)">
    <ion-grid>
      <ion-row>
        <ion-col size="9" text-left>
          待處理清單
        </ion-col>
        <ion-col size="2" text-right>

        </ion-col>
        <ion-col size="1" text-right>
          <div *ngIf="icon;else noicon">
            <ion-icon name="arrow-dropright"></ion-icon>
          </div>
          <ng-template #noicon>
            <div>
              <ion-icon name="arrow-dropdown"></ion-icon>
            </div>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <div *ngIf="wait;else nowait">
    <div *ngFor="let order of orders">
      <div class="packagetitle">
        <div>
          <ion-grid>
            <ion-row>
              <ion-col>
                {{order.title}}
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                {{order.place}}
              </ion-col>
              <ion-col size="6">
                {{order.OrderTime.toDate() | date: 'dd MMM hh:mm'}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col left size="6">
              <ion-item>
                <ion-label><b>{{order.name}}</b>申請加入</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <div text-center>同意</div>
              <ion-button color="dark" fill="outline" expand="full" shape="round" (click)="ok(order.id)">
                <ion-icon name="checkmark"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="3">
              <div text-center>不同意</div>
              <ion-button color="danger" fill="outline" expand="full" shape="round" (click)="reject(order.id)">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  <ng-template #nowait>
  </ng-template>
  <br>
  <ion-item (click)="changewait(2)">
    <ion-grid>
      <ion-row>
        <ion-col size="9" text-left>
          已拒絕清單
        </ion-col>
        <ion-col size="2" text-right>

        </ion-col>
        <ion-col size="1" text-right>
          <div *ngIf="icon1;else noicon1">
            <ion-icon name="arrow-dropright"></ion-icon>
          </div>
          <ng-template #noicon1>
            <div>
              <ion-icon name="arrow-dropdown"></ion-icon>
            </div>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <div *ngIf="cancel;else nocancel">
    <div *ngFor="let Failorder of Failorders">
      <div class="packagetitle borderList">
        <div>
          <ion-grid>
            <ion-row>
              <ion-col>
                {{Failorder.title}}
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                {{Failorder.place}}
              </ion-col>
              <ion-col size="6">
                {{Failorder.OrderTime.toDate() | date: 'dd MMM hh:mm'}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div >
          <ion-grid>
            <ion-row>
              <ion-col left>
                <ion-item>
                  <ion-label><b>{{Failorder.name}}</b>申請已被您拒絕</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </div>
  <ng-template #nocancel>
  </ng-template>

  <br>
  <ion-item (click)="changewait(3)">
    <ion-grid>
      <ion-row>
        <ion-col size="9" text-left>
          已同意清單
        </ion-col>
        <ion-col size="2" text-right>
        </ion-col>
        <ion-col size="1" text-right>
          <div *ngIf="icon2;else noicon2">
            <ion-icon name="arrow-dropright"></ion-icon>
          </div>
          <ng-template #noicon2>
            <div>
              <ion-icon name="arrow-dropdown"></ion-icon>
            </div>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <div *ngIf="agree;else noagree">
    <div *ngFor="let agreeorder of agreeorders">
      <div class="packagetitle borderList">
        <div>
          <ion-grid>
            <ion-row>
              <ion-col>
                {{agreeorder.title}}
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                {{agreeorder.place}}
              </ion-col>
              <ion-col size="6">
                {{agreeorder.OrderTime.toDate() | date: 'dd MMM hh:mm'}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div>
          <ion-grid>
            <ion-row>
              <ion-col left>
                <ion-item>
                  <ion-label><b>{{agreeorder.name}}</b>申請已被您接受</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noagree>
  </ng-template>

</ion-content>