.img{
    width: 30px;
    height: 30px;
  
  }

  .div{
      padding-top: 3px;
  }

  .jusersize{
      margin-top:9px;
      font-size:16px;
  }

  .packagetitle{
      background-color: ghostwhite;
  }

  .borderList{
    border-width:1px;
    border-style:solid;
    border-left-color: rgb(163, 163, 163);
    border-right-color: rgb(163, 163, 163);
    border-bottom-color:rgb(163, 163, 163);
    background-color: lightyellow;
  }