<ion-header>
  <ion-toolbar>
    <ion-title>join</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content padding>
    <ion-card>
      <div></div>
      <div>
        <ion-card-content >
          <ion-card-title text-center *ngIf="title">
          {{title}}
          </ion-card-title>
          <ion-card-content text-center>
            {{startDate}}
            <div></div>
            {{endDate}}
            <div></div>
            {{place}}
          </ion-card-content> 
        </ion-card-content>
      </div> 
      <ion-button size="small" class="button" shape="round" color="primary" fill="outline" (click)="data()">加入
      </ion-button>
    </ion-card>
  </ion-content>
