ion-img{
    width: 100%;
    height: 200px;
}

ion-title{
    font-size: 18px;
}




p{
    font-size: 13px;
    color: black;




}
.b{
    font-size: 15px;
    color : green;
    font-weight: bold;
    text-align: left;
 
}

.contextcolor{
    color: black;
}

.user{

    font-size: 10px;
    text-align: left;
}

.trip{
  
    background-image: url(src/assets/img/trip.jpg);


}

.paper{
  
    background-image: url(src/assets/img/paper.jpg);
 

}
ion-button.userpro{
    
    border-radius: 5px;

}

.text{
    color: white;
    
      }
    
.btncolor {
        --background: var(--ion-color-btn);
      }
      
