ion-img{
    width: 100%;
    height: 200px;
}

ion-title{
    font-size: 18px;
}


b{
    font-size: 10px;
    color: black;




}
.b{
    font-size: 10px;
    color:navy;




}

.user{

    font-size: 20px;
    text-align: left;




}
