<ion-header>
  <ion-toolbar color="">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
      <ion-title >
        {{packagejoin.title}}
        </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content >
      <div>
          <ion-slides pager="true" >
              <ion-slide *ngFor="let photos of packagejoin.detailsArray">
                  <ion-img [src]=photos.photo (click)="zoomImage(photos.photo)"></ion-img>
              </ion-slide>
            </ion-slides>
      </div>
    <ion-card>
      <div>
        <ion-card-content >
          <ion-card-content text-center>
            {{packagejoin.startDate}}
            <div></div>
            {{packagejoin.endDate}}
            <div></div>
            {{packagejoin.place}}
            <div></div>
            {{packagejoin.context}}
            <div></div>
            {{packagejoin.money}}
            <!-- {{packageId}} -->
          </ion-card-content> 
      
        </ion-card-content>
      </div> 
      <ion-button size="small" class="button" shape="round" color="dark" fill="outline" expand="full" (click)="join()">加入
      </ion-button>
    </ion-card>
  </ion-content>
