<ion-header>
  <ion-toolbar>
        <ion-title>
        <ion-icon name="arrow-back" slot="start" routerLink="/package"></ion-icon>
          行程內容
        </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    
    <ion-card>
        <ion-item>
          <ion-icon name="bookmarks" slot="start"></ion-icon>
          <ion-label>行程1</ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="file" accept="image/*" ></ion-input>
        </ion-item>
<ion-card-content>
    <ion-item>
        <ion-textarea placeholder="行程規劃"></ion-textarea>
      </ion-item>
        </ion-card-content>
      </ion-card>
<ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>    
</ion-content>