<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        sign up
      </ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content text-center  >
    <ion-list class="font">
        <p>夥伴，請填寫響導基本資料吧?</p>
      <ion-item>
          <ion-label >身分證照上傳 :</ion-label>
          <ion-input  type="file" accept="image/*"  ></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>負責區域</ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss" placeholder="Select One">
            <ion-select-option value="01">基隆市</ion-select-option>
            <ion-select-option value="02">臺北市</ion-select-option>
            <ion-select-option value="03">新北市</ion-select-option>
            <ion-select-option value="04">桃園市</ion-select-option>
            <ion-select-option value="05">新竹市</ion-select-option>
            <ion-select-option value="06">新竹縣</ion-select-option>
            <ion-select-option value="07">苗栗縣</ion-select-option>
            <ion-select-option value="08">臺中市</ion-select-option>
            <ion-select-option value="09">彰化縣</ion-select-option>
            <ion-select-option value="10">南投縣</ion-select-option>
            <ion-select-option value="11">雲林縣</ion-select-option>
            <ion-select-option value="12">嘉義市</ion-select-option>
            <ion-select-option value="13">嘉義縣</ion-select-option>
            <ion-select-option value="14">臺南市</ion-select-option>
            <ion-select-option value="15">高雄市</ion-select-option>
            <ion-select-option value="16">屏東縣</ion-select-option>
            <ion-select-option value="17">臺東縣</ion-select-option>
            <ion-select-option value="18">花蓮縣</ion-select-option>
            <ion-select-option value="19">宜蘭縣</ion-select-option>
            <ion-select-option value="20">澎湖縣</ion-select-option>
            <ion-select-option value="21">金門縣</ion-select-option>
            <ion-select-option value="22">連江縣</ion-select-option>
          </ion-select>
        </ion-item>
            
    </ion-list>
       <div padding text-center class="b">
          <ion-button color="primary" block >完成</ion-button> 
        </div> 
  </ion-content>

  

  
 
  
  