.img{
    margin-top: 35px;
    height:120px;
    width:120px;
    border-radius: 50%;
}

.ViewPH {
    margin: 0 auto;
    border-radius: 50%;
    height:40%;
    width:40%;
}

.back{

    max-height: 35vh;
    overflow: hidden;
}

.score{
    margin: 0 auto;
    height:20px;
    width: 20px;
       
}

.colpad{
    padding-top: 0px;
    padding-bottom: 0px;
    
  }

  .imagestyle{
    width: 100%;
    height: 150px;
  }

  .border{
    border-style:solid;
    border-width:1px;
  }

  .borderList{
    border-width:2px;
    border-style:solid;
    border-color: #10dc60;
    background-color: lightyellow;;
  }
.text{
  color: white;
}