<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      個人檔案
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="(authData.user | async) || {} as user">
    <ion-card>
      <div center>
        <ion-img class="back" src="https://ppt.cc/fsYTQx@.png"></ion-img>
      </div>
      <div center>
        <img class="img" [src]="user.userImg">
      </div>
      <div>
        <ion-card-content>
          <ion-img class="score" src="https://image.flaticon.com/icons/svg/179/179249.svg"></ion-img>
        </ion-card-content>

        <div center padding="10px" font-size="12px" *ngIf="show;else noshow">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>姓名:</ion-label>
                  <ion-label>{{user.Name}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>性別:</ion-label>
                  <ion-label>{{user.gender}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  信箱:
                  <ion-label left>{{user.email}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>

            <div>
              <ion-row>
                <ion-col>
                  <ion-item>
                    手機:
                    <ion-label left>{{user.phone}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    住址:
                    <ion-label left>{{user.address}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    生日:
                    <ion-label left>{{user.date}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </div>
          </ion-grid>
          <div padding text-center>
            <div center padding="10px" font-size="12px" *ngIf="view;else noview">

            </div>
            <ng-template #noview>
              <ion-button color="dark" id="touron" block shape="round" expand="full" (click)="show = !show"> 修改
              </ion-button>
            </ng-template>
          </div>
        </div>


        <ng-template #noshow>
          <div center padding="10px" font-size="12px">
            <form [formGroup]="updataForm" (ngSubmit)="updataUser(user)">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label>姓名:</ion-label>
                      <ion-label>{{user.Name}}</ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <ion-label>性別:</ion-label>
                      <ion-label>{{user.gender}}</ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      信箱:
                      <ion-label left>{{user.email}}</ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <div>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        手機:
                        <ion-input left [(ngModel)]="user.phone" formControlName="phone"></ion-input>
                      </ion-item>

                      <ion-item *ngIf="formErrors.phone">
                        <ion-text color="danger">
                          <p>{{ formErrors.phone }}</p>
                        </ion-text>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        住址:
                        <ion-input left [(ngModel)]="user.address" formControlName="address"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        生日:
                        <ion-input left [(ngModel)]="user.date" formControlName="date"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-grid>
              <div padding text-center>
                <ion-button type="submit" color="dark" id="touron" block shape="round" expand="full"
                  routerLink="/profile"> 送出
                </ion-button>
              </div>

            </form>
          </div>
        </ng-template>



      </div>
    </ion-card>


    <!-- <div>
    <span [ngSwitch]="user.touron">
      <div *ngSwitchCase="true">
        <div>
          <ion-toolbar>
            <ion-row>
              <ion-col>
                <ion-segment-button>
                  <ion-label>行事曆</ion-label>
                  <ion-icon name="calendar" color="danger"></ion-icon>
                </ion-segment-button>
              </ion-col>
              <ion-col>
                <ion-segment-button routerLink="/package">
                  <ion-label>建立行程</ion-label>
                  <ion-icon name="add-circle-outline" color="success"></ion-icon>
                </ion-segment-button>
              </ion-col>
              <ion-col>
                <ion-segment-button routerLink="/list">
                  <ion-label>行程管理</ion-label>
                  <ion-icon name="construct" color="primary"></ion-icon>
                </ion-segment-button>
              </ion-col>
              <ion-col>
                <ion-segment-button>
                  <ion-label>訂單管理</ion-label>
                  <ion-icon name="clipboard" color="tertiary"></ion-icon>
                </ion-segment-button>
              </ion-col>
            </ion-row>
          </ion-toolbar>
        </div>
      </div>
      <p *ngSwitchDefault text-center>
        想當響導嗎？<br>
        補足基本資料，即可開啟。
      </p>
    </span>
  </div> -->
  </div>


</ion-content>