<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      個人檔案
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  *ngIf="authData.user | async as user">
  <ion-card>
    <!-- <ion-img src="https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_640.jpg"></ion-img> -->
    <div class="bar bar-header">
      <ion-button size="small" class="button" shape="round" color="primary" fill="outline" routerLink="/signup">修改資料
      </ion-button>
    </div>

    
      <div class="img" center>
        <ion-img [src]="user.imgsrc"></ion-img>
      </div>

      <div>
        <ion-card-content>
          <ion-card-title text-center>
            {{user.Name}}
          </ion-card-title>
          <ion-card-content text-center>
            {{user.date}}
            <div></div>
            {{user.email}}
          </ion-card-content>
        </ion-card-content>
      </div>

      <ion-toolbar>
        <ion-buttons slot="primary">
          <ion-button routerLink="/list">
            <ion-icon slot="icon-only" name="clipboard"></ion-icon>
            <ion-label>訂購紀錄</ion-label>
          </ion-button>
        </ion-buttons>
        <ion-item>
          <ion-toggle  (click)="show=!show" color="dark"></ion-toggle>
          <ion-label *ngIf="show" text-center >已開啟嚮導功能</ion-label>
          <ion-label *ngIf="!show" text-center>未開啟嚮導功能</ion-label>
        </ion-item>
      </ion-toolbar>
    
  </ion-card>

  <div>
    <span [ngSwitch]="show">
      <div *ngSwitchCase="true">
        <div>
          <ion-toolbar>
            <ion-row>
              <ion-col>
                <ion-segment-button>
                  <ion-label>行事曆</ion-label>
                  <ion-icon name="calendar" color="danger"></ion-icon>
                </ion-segment-button>
              </ion-col>
              <ion-col>
                <ion-segment-button>
                  <ion-label>建立行程</ion-label>
                  <ion-icon name="add-circle-outline" color="tertiary"></ion-icon>
                </ion-segment-button>
              </ion-col>
              <ion-col>
                <ion-segment-button>
                  <ion-label>訂單管理</ion-label>
                  <ion-icon name="clipboard" color="dark"></ion-icon>
                </ion-segment-button>
              </ion-col>
            </ion-row>
          </ion-toolbar>
        </div>
      </div>
      <p *ngSwitchDefault text-center>
        想當響導嗎？<br>
        補足基本資料，即可開啟。
      </p>
    </span>
  </div>
</div>

</ion-content>