.favorite{
    font-size: 15px;
}

.imagestyle{
    width: 100%;
    
  }

  .text{
    color: white;
  }

  .titlesize{
    font-size:12px;
    padding-top:3%;
    padding-bottom: 3%;
  }

  .moneysize{
    font-size:17px;
  }

  .bgcolor{
      background-color: grey;
      color: white;
  }