<ion-header>
  <ion-toolbar>
    <ion-title>favorite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let favorite of array" disabled="false">
    <ion-card class="welcome-card" (click)="get(favorite.packageId)">
      <div class="local-size" >
        <ion-row>
          <ion-col>
            <ion-chip>
              <!-- <ion-avatar>
                <img [src]="package.userImg">
              </ion-avatar> -->
              <ion-label>{{loginUserName}}</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </div>
      <!-- <div >
          <ion-slides pager="true" >
              <ion-slide *ngFor="let favorite of array">
                  <ion-img [src]=photos.photo  class="imagestyle"></ion-img>
              </ion-slide>
            </ion-slides>
      </div> -->
      <ion-card-header>
        <ion-card-title>{{favorite.title}}</ion-card-title>
      </ion-card-header>
      <!-- <ion-card-content>
          <ion-text>{{favorite.context}}</ion-text>
      </ion-card-content> -->
    </ion-card>
  </div>
</ion-content>
