<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>
      取回密碼
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="font">
    <p>夥伴，請輸入信箱以方便修改密碼!</p>
    <ion-item>
      <ion-icon name="mail" color="dark"></ion-icon>
      <ion-label>信箱</ion-label>
      <ion-input type="mail"></ion-input>
    </ion-item>
  </ion-list>
  <div padding text-center>
    <ion-button type="submit" color="dark" block shape="round" expand="full">登入
    </ion-button>
  </div>
</ion-content>