<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>
      取回密碼
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="getpassedForm">
    <ion-list class="font">
      <p>夥伴，請輸入信箱以方便修改密碼!</p>
      <ion-item>
        <ion-icon name="mail" color="dark"></ion-icon>
        <ion-label>信箱</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
    </ion-list>
    <div padding text-center>
      <ion-button type="button" color="dark" block shape="round" expand="full" (click)="resetPassword()">送出
      </ion-button>
    </div>
  </form>
</ion-content>