.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-toolbar .a {
  height: 140px;
}

.img{
  width: 60px;
border-radius: 50%;

}

ion-grid{
  padding-top: 14%;
  padding-left:10%;
}

