<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-item color="dark">
    <ion-menu-button></ion-menu-button>
    <ion-searchbar animated color="light"></ion-searchbar>
    <ion-button size="small" shape="round" color="medium" (click)="popovers()">
      <ion-icon name="options"></ion-icon>
      <ion-badge color="dark" slot="end"></ion-badge>
    </ion-button>
  </ion-item>
</ion-header>

<ion-content>
  <div>
    <ion-row>
      <ion-col>
        <ion-segment-button>
          <ion-label>推薦行程</ion-label>
          <ion-icon name="heart" color="danger"></ion-icon>
        </ion-segment-button>
      </ion-col>
      <ion-col>
        <ion-segment-button>
          <ion-label color="dark">人氣嚮導</ion-label>
          <ion-icon name="person" color="tertiary"></ion-icon>
        </ion-segment-button>
      </ion-col>
    </ion-row>
  </div>
  <ion-card class="welcome-card">
    <ion-chip>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>會員名稱</ion-label>
    </ion-chip>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-title>套裝標題</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>套裝內容</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-chip>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>會員名稱</ion-label>
    </ion-chip>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-title>套裝標題</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>套裝內容</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-chip>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>會員名稱</ion-label>
    </ion-chip>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-title>套裝標題</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>套裝內容</p>
    </ion-card-content>
  </ion-card>

</ion-content>


<ion-menu side="start">
  <ion-header>
    <ion-toolbar class="a" color="dark" *ngIf="auth.user | async as user">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img class="img" src="../assets/icon/tgicon123.png">
          </ion-col>
          <ion-col size="9"><br>
            {{user.Name}}
            <br>
            {{user.address}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="menu">
      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
          <ion-icon slot="start" [name]="p.icon" color="dark"></ion-icon>
          <ion-label>
            {{p.title}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar color="dark">
      <ion-button color="dark">
        <ion-icon name="log-out"></ion-icon>登出
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>