.imagestyle{
    width: 100%;
    height: 150px;
  }

  .local-size{
    font-size:18px;
  }

  .titlesize{
    font-size:13px;
    padding-top:3%;
    padding-bottom: 3%;
  }

  .moneysize{
    font-size:15px;
    padding-top: 10%;
  }